<html>
<head>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
				<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
				<meta property="og:title" content="Łódzki gnuj" />
				{% block head %}{% endblock %}
</head>
<body>
<style>
.button {margin: 0 10px}
::placeholder {
  opacity: 0.2; 
}
</style>
				<div>
								<a class="button" href="/">HOME</a>
								<a class="button" style="background-color: #ffaf16" href="https://g.hs-ldz.pl/{{new_key}}">ADD</a>
								<a style="float: right" class="button" href="/admin/">LOGIN</a>
				</div>
				<div>
								<p>
						{% block content %}
						{% endblock %}
								</p>
				</div>
				<div>
								</hr>
								<a class="button" href="/">HOME</a>
								<a class="button" style="background-color: #ffaf16" href="https://g.hs-ldz.pl/{{new_key}}">ADD</a>
								<a class="button" style="background-color: #161aff" href="{% url 'swiezyGnuj' %}">SWIEZY</a>
				</div>
</body>
</html>
