{% extends "base.html" %}

{% block content %}
				<p>
								<form action="/search">
												<label for="query">FTS over gnuj (<a href="https://sqlite.org/fts5.html#full_text_query_syntax">docs</a>):</label>
												<input name="query" placeholder="zesta*">
												<input type="submit" value="Search">
								</form>
				</p>
</br>
				</hr>
				<p>Registered {{items_count}} objects.You can download SQLite dump <a href=/dump>here</a>. </p>
				<p>
								You can create new stickers by printing <a href="/create">this page<a>. 
								Play with URL to change size and number of stickers!
				</p>
{% endblock %}
