<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
	<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    </head>
    <body>
        {% if gnuj.image %}
        <a href="{{ MEDIA_URL }}{{ gnuj.image}}">
            <img style="max-width: 500px; max-height: 500px" src="{{ MEDIA_URL }}{{ gnuj.image}}"></img>
        </a>
        {% endif %}
        <form enctype="multipart/form-data" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
            <input type="submit" value="Drukuj" name="drukuj">
	    <a href="/">HOME</a>
        </form>
    </body>
</html>
