{% extends "base.html" %}

{% block head %}
				{% if gnuj %}
								{% with item=gnuj.0 %}
												<meta property="og:title" content="{{ item.tytul }}" />
												<meta property="og:image" content="https://hssi.hs-ldz.pl/200x,q50/https://g.hs-ldz.pl{{ MEDIA_URL }}{{ item.image}}" />
								{% endwith %}
				{% endif %}
{% endblock %}

{% block content %}
				{% for item in gnuj %}
				<p>
				<a href="/{{ item.id }}">{{ item.tytul }}</a><br/>
								{% if item.image %}
								<a href="/{{ item.id }}">
												<img style="max-width: 200px; max-height: 200px" src="https://hssi.hs-ldz.pl/200x,q50/https://g.hs-ldz.pl{{ MEDIA_URL }}{{ item.image}}"></img>
								</a>
								{% endif %}
				</p>
				{% endfor %}
{% endblock %}
